In [6]:
from google.cloud import bigquery
import pandas as pd
import numpy as np
from datetime import datetime

In [7]:
projectId='xxxx'
dataset_id='yyyy'
table_name="zzz"

table_id = f"{projectId}.{dataset_id}.{table_name}"

client = bigquery.Client(project=projectId)

date_search='last_update_date'

In [8]:
def load_data_bq(sql:str):
 client_bq = bigquery.Client()
 query_result=client_bq.query(sql)
 df_all=query_result.to_dataframe()
 return df_all

In [11]:
sql_all=f"""
SELECT * FROM `{table_id}` where {date_search}>='2023-06-01'
"""
#order by imported_at
df=load_data_bq(sql_all)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_trx_id           2926 non-null   Int64
 1   org_id                    2926 non-null   Int64
 2   gl_date                   2926 non-null   dbdate
 3   invoice_date              2926 non-null   dbdate
 4   dept_name                 2926 non-null   object
 5   dept_code                 2926 non-null   object
 6   invoice_number            2926 non-null   object
 7   tax_invoice_number        2145 non-null   object
 8   so                        2 non-null      object
 9   project                   1564 non-null   object
 10  rev_con                   0 non-null      object
 11  cn_number                 49 non-null     object
 12  cn_comment                20 non-null     object
 13  invoice_type              2926 non-null   object
 14  invoice_type_description  2926 non-null   object
 15  cust_code                 2926 non-null   object
 16  cust_name                 2926 non-null   object
 17  industry_new              2276 non-null   object
 18  sector                    2276 non-null   object
 19  abbrevation               2276 non-null   object
 20  sale_code                 2926 non-null   Int64
 21  sale_name                 2926 non-null   object
 22  invoice_amount            2926 non-null   float64
 23  total_cost                2926 non-null   float64
 24  margin_amount             2926 non-null   float64
 25  margin_percent            2926 non-null   float64
 26  salesforce_opp            457 non-null    object
 27  line_description1         2902 non-null   object
 28  line_description2         2055 non-null   object
 29  line_description3         1744 non-null   object
 30  line_description4         1342 non-null   object
 31  line_description5         941 non-null    object
 32  line_description6         574 non-null    object
 33  line_description7         288 non-null    object
 34  line_description8         182 non-null    object
 35  line_description9         87 non-null     object
 36  creation_date             2926 non-null   datetime64[ns]
 37  created_by                2926 non-null   Int64
 38  last_update_date          2926 non-null   datetime64[ns]
 39  last_updated_by           2926 non-null   Int64
 40  ImportedAt                2926 non-null   datetime64[ns]
dtypes: Int64(5), datetime64[ns](3), dbdate(2), float64(4), object(27)
memory usage: 951.6+ KB