In [593]:
import pandas as pd
import numpy as np
from datetime import datetime 
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound
from google.api_core.exceptions import BadRequest
import os
import sys 

import cx_Oracle
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError

import sqlite3

# Parameter variable

In [594]:
source_name=''
source_name='yip_po_listing'
#source_name="yip_ar_receipt"  # df/csv
# source_name='yip_ap_payment' # csv
# source_name="yip_invoice_monthly" # df/csv
#source_name="yip_pj_status" # csv
# set True whatever , you want to reload all items
isLoadingAllItems=True
is_py=False

In [595]:
if is_py:
    press_Y=''
    ok=False

    if len(sys.argv) > 1:
        source_name=sys.argv[1]

        if sys.argv[2]=='0':
         isLoadingAllItems=False
        elif sys.argv[2]=='1'  :
         isLoadingAllItems=True
        else:
            raise Exception("isLoadingAllItems 1=True | 0=False")

        ok=True 

    else:
        print("Enter the following input: ")
        source_name = input("View Table Name : ")
        source_name=source_name.lower()
        load_option= int(input("Loading All Data option (1=True | 0=False): "))
        if load_option==0:
         isLoadingAllItems=False
        elif load_option==1  :
         isLoadingAllItems=True
        else:
            raise Exception("isLoadingAllItems 1=True | 0=False")  

        print(f"Confirm to Load view = {source_name} and Load All Data= {isLoadingAllItems}")
        press_Y=input(f"Press Y=True But any key=False : ") 
        if press_Y=='Y':
         ok=True

    if ok==False:
        print("No any action")
        quit()

# Init Variable

In [596]:
listError=[]

init_date_query='2020-01-01 00:00:00'

projectId='mismgntdata-bigquery'
region='asia-southeast1'
dataset_id='MIS_BI_DW'
table_id = f"{projectId}.{dataset_id}.{source_name}"

_ip='172.30.57.10' #'172.30.57.10'
_hostname='YIPGERP'
_port=1521
_servicename='PROD'
_username='yipgbi'
_password='yipgbi'


host = 'mail.yipintsoi.com'
port=  25
sender="mis-bi-service@yipintsoigroup.com"
receivers=['pongthorn.sa@yipintsoi.com']
#receivers=['pongthorn.sa@yipintsoi.com','mis-bi-service@yipintsoigroup.com']

data_base_file=r'D:\ETL_Orable_To_BQ\etl_web_admin\etl_config_transaction.db'
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

json_credential_file=r'C:\Windows\mismgntdata-bigquery--bq-loader-34713c332847.json'

temp_path=f'temp/{source_name}.csv'


start_date_query=''
updateCol='last_update_date'

In [597]:
dt_imported=datetime.now()
dtStr_imported=dt_imported.strftime("%Y-%m-%d %H:%M:%S")
#dtStr_imported='2023-05-23 23:00:00'

dt_imported=datetime.strptime(dtStr_imported,"%Y-%m-%d %H:%M:%S")

print(dtStr_imported)
print(dt_imported)

2023-06-03 17:02:08
2023-06-03 17:02:08

# Manage Log Error Message

In [598]:
import  smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

def sendMailForError(errorHtml):
    message = MIMEMultipart("alternative")
    message["Subject"] = f"MIS-BI : ETL-Error on {source_name} at {dtStr_imported}"
    message["From"] = sender
    message["To"] = ','.join(receivers)

    html =errorHtml 

    part_html = MIMEText(html, "html")
    message.attach(part_html)

    try:

        with smtplib.SMTP(host,port) as mail_server:
            #mail_server.login(login, password)
            mail_server.sendmail(sender, receivers, message.as_string())
            print("Successfully sent email")

    except (gaierror, ConnectionRefusedError):
       msg='Failed to connect to the server. Bad connection settings?'
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,msg]) 
       logErrorMessage(listError)
    except smtplib.SMTPServerDisconnected:
       msg='Failed to connect to the server. Wrong user/password?'
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,msg]) 
       logErrorMessage(listError)
    except smtplib.SMTPException as e:
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)]) 
       logErrorMessage(listError)

    return True

In [599]:
def logErrorMessage(errorList,raise_ex=True):
    def logError(recordList):
        try:
            sqliteConnection = sqlite3.connect(os.path.abspath(data_base_file))
            cursor = sqliteConnection.cursor()
            sqlite_insert_query = """
            INSERT INTO log_error
            (error_datetime,etl_datetime, data_source_id,message)  VALUES (?,?,?,?);
             """
            cursor.executemany(sqlite_insert_query, recordList)
            print("Done Log Error")
            sqliteConnection.commit()
            cursor.close()
            
        except Exception as e:
            listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)]) 
            logErrorMessage(listError)
        finally:
            if sqliteConnection:
                sqliteConnection.close()
            
    if len(errorList)>0:
        error_message=f"{source_name} ETL at {dt_imported} raise some errors."
        print(error_message)
        
        dfError=pd.DataFrame(data=errorList,columns=["error_datetime","etl_datetime","data_source_id","message"])
        print(dfError)
        
        logError(dfError.to_records(index=False))
        
        #emailResult=sendMailForError(dfError.to_html(index=False))
        
        error_message=f"{source_name} ETL at {dt_imported} raise some errors."
        
        if raise_ex==True:
         raise  Exception(error_message)

# Get & Set Oracle ViewName and other configuration data

In [600]:
# get data from data_source
def get_ds(data_source_name):
   try: 
        conn = sqlite3.connect(os.path.abspath(data_base_file))
        sql_ds=f"""select * from data_source where id='{data_source_name}'  """
        print(sql_ds)
        df_item=pd.read_sql_query(sql_ds, conn)
        if df_item.empty==False:
           return df_item.iloc[0,:]
        else:
           return None
   except Exception as e:
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)]) 
       logErrorMessage(listError)
    
ds_item=get_ds(source_name)

select * from data_source where id='yip_po_listing'

In [601]:
if ds_item is not None:
    print("Load data source config data")

    colFirstLoad=ds_item['first_load_col']
    colFirstLoad=colFirstLoad.strip().lower()
    print(f"Date Column as condition to load at first = {colFirstLoad}")

    partitionCol=ds_item['partition_date_col']  # required DateTime Type
    partitionCol=partitionCol.strip().lower()
    if   ds_item['partition_date_type']=="DAY":
     partitionType=bigquery.TimePartitioningType.DAY
    elif ds_item['partition_date_type']=="MONTH":
     partitionType=bigquery.TimePartitioningType.MONTH    
    elif ds_item['partition_date_type']=="YEAR":
     partitionType=bigquery.TimePartitioningType.YEAR   
    else:
     partitionType=bigquery.TimePartitioningType.DAY
    
    print(f"Partition : {partitionCol} - {partitionType}")
    
        
    if ds_item['cluster_col_list']=='':
     clusterCols=[]   
     print(f"{clusterCols} (No cluster cols)")   
     
    else:
     clusterCols=  ds_item['cluster_col_list'].split(',') 
     clusterCols = list(map(str.strip,clusterCols))
     clusterCols = list(map(str.lower,clusterCols))   
     print(clusterCols)

    if ds_item['date_col_list']=='':
     dateCols=[]   
     print(f"{dateCols} (No Date cols)")   
     
    else:
     dateCols=  ds_item['date_col_list'].split(',') 
     dateCols = list(map(str.strip,dateCols))
     dateCols = list(map(str.lower,dateCols))      
     print(dateCols)

Load data source config data
Date Column as condition to load at first = po_date
Partition : po_date - MONTH
[] (No cluster cols)
[] (No Date cols)

# List Last ETL Transacton by Datasource Name
### Get last etl of the specific view to perform incremental update

In [602]:
def get_last_etl_by_ds(data_source):
   try: 
    conn = sqlite3.connect(os.path.abspath(data_base_file))
    sql_last_etl=f"""select etl_datetime,data_source_id from etl_transaction where data_source_id='{data_source}' 
    order by etl_datetime desc limit 1
    """
    print(sql_last_etl)
    df_item=pd.read_sql_query(sql_last_etl, conn)
    print(df_item)
    return df_item
    
   except Exception as e:
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)]) 
       logErrorMessage(listError)

if isLoadingAllItems==False:
    dfLastETL=get_last_etl_by_ds(source_name)
    if dfLastETL.empty==False:
      start_date_query=dfLastETL.iloc[0,0]
      print(f"Start Import on update_at of last ETL date :  {start_date_query}" ) 
    else:
       isLoadingAllItems=True 
       start_date_query=init_date_query
       print(f"No etl transaction , we will get started with importing all items from :  {start_date_query}" ) 
else:
   start_date_query=init_date_query
   print(f"Reload all data:  {start_date_query}" )

Reload all data:  2020-01-01 00:00:00

# Load data from Oracel  as DataFrame

In [603]:
def loadData(isReLoadAll):
    try:
       engine = sqlalchemy.create_engine(f"oracle+cx_oracle://{_username}:{_password}@{_ip}:{_port}/?service_name={_servicename}")
       # if isReLoadAll==True:
       #   sql=f"""select * from {source_name}   
       #     where  {colFirstLoad}>=to_date('{start_date_query}','yyyy-mm-dd') 
       #     """    
       # else:    
       sql =f"""select * from {source_name}  
       where  {updateCol}>=to_date('{start_date_query}','yyyy-mm-dd hh24:mi:ss') """
       print(sql)
       
       dfAll = pd.read_sql(sql, engine)
       dfAll['ImportedAt']=dt_imported 
    
       return dfAll 
    except Exception as e:
       listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
       logErrorMessage(listError)
    

dfAll=loadData(isLoadingAllItems)

select * from yip_po_listing
       where  last_update_date>=to_date('2020-01-01 00:00:00','yyyy-mm-dd hh24:mi:ss')

In [604]:
# dfAll=dfAll.drop(columns=['receipt_number','method_name','application_type']) # receipt
#dfAll=dfAll.drop(columns=['customer_trx_id','org_id']) # invoice

# dfAll=dfAll.drop(columns=['product_type','product_brand'])

listColDF=dfAll.columns.tolist()
print(listColDF)

print(dfAll.info())
dfAll.head()

['po_header_id', 'po_line_id', 'org_id', 'po_number', 'po_date', 'comments', 'vendor_name', 'vendor_site_code', 'currency_code', 'rate_type', 'rate_type_name', 'rate_date', 'rate', 'buyer', 'authorization_status', 'revision_number', 'revised_date', 'approved_flag', 'approved_date', 'closed_date', 'cancel_flag', 'closed_code', 'inv_organization_code', 'inv_organization_name', 'po_amount', 'payment_amount', 'line_number', 'shipment_number', 'item_code', 'item_description', 'item_job', 'uom', 'shipment_amount', 'quantity', 'quantity_due', 'quantity_received', 'quantity_billed', 'need_by_date', 'line_closed_flag', 'line_closed_code', 'line_closed_date', 'line_cancel_flag', 'line_cancelled_by', 'line_cancel_date', 'line_attribute1', 'line_attribute2', 'line_attribute3', 'line_attribute4', 'line_attribute5', 'line_attribute6', 'line_attribute7', 'line_attribute8', 'line_attribute9', 'line_attribute10', 'line_attribute11', 'line_attribute12', 'line_attribute13', 'line_attribute14', 'line_attribute15', 'product_type', 'product_brand', 'creation_date', 'created_by', 'last_update_date', 'last_updated_by', 'ImportedAt']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157913 entries, 0 to 157912
Data columns (total 66 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   po_header_id           157913 non-null  int64
 1   po_line_id             157913 non-null  int64
 2   org_id                 157913 non-null  int64
 3   po_number              157913 non-null  object
 4   po_date                157913 non-null  datetime64[ns]
 5   comments               141406 non-null  object
 6   vendor_name            157913 non-null  object
 7   vendor_site_code       157913 non-null  object
 8   currency_code          157913 non-null  object
 9   rate_type              11202 non-null   object
 10  rate_type_name         11202 non-null   object
 11  rate_date              157913 non-null  datetime64[ns]
 12  rate                   11202 non-null   float64
 13  buyer                  157913 non-null  object
 14  authorization_status   157648 non-null  object
 15  revision_number        157913 non-null  int64
 16  revised_date           16470 non-null   datetime64[ns]
 17  approved_flag          157668 non-null  object
 18  approved_date          157066 non-null  datetime64[ns]
 19  closed_date            145760 non-null  datetime64[ns]
 20  cancel_flag            9686 non-null    object
 21  closed_code            157842 non-null  object
 22  inv_organization_code  157913 non-null  object
 23  inv_organization_name  157913 non-null  object
 24  po_amount              157913 non-null  float64
 25  payment_amount         157913 non-null  float64
 26  line_number            157913 non-null  int64
 27  shipment_number        157913 non-null  int64
 28  item_code              157913 non-null  object
 29  item_description       157913 non-null  object
 30  item_job               62972 non-null   object
 31  uom                    157913 non-null  object
 32  shipment_amount        157913 non-null  float64
 33  quantity               157913 non-null  float64
 34  quantity_due           157913 non-null  int64
 35  quantity_received      157913 non-null  float64
 36  quantity_billed        157913 non-null  float64
 37  need_by_date           151263 non-null  object
 38  line_closed_flag       3072 non-null    object
 39  line_closed_code       157617 non-null  object
 40  line_closed_date       149906 non-null  datetime64[ns]
 41  line_cancel_flag       12963 non-null   object
 42  line_cancelled_by      7470 non-null    float64
 43  line_cancel_date       7470 non-null    datetime64[ns]
 44  line_attribute1        1529 non-null    object
 45  line_attribute2        92564 non-null   object
 46  line_attribute3        62972 non-null   object
 47  line_attribute4        50392 non-null   object
 48  line_attribute5        25292 non-null   object
 49  line_attribute6        14868 non-null   object
 50  line_attribute7        9192 non-null    object
 51  line_attribute8        7001 non-null    object
 52  line_attribute9        5041 non-null    object
 53  line_attribute10       3908 non-null    object
 54  line_attribute11       3187 non-null    object
 55  line_attribute12       2706 non-null    object
 56  line_attribute13       2381 non-null    object
 57  line_attribute14       2081 non-null    object
 58  line_attribute15       1800 non-null    object
 59  product_type           0 non-null       object
 60  product_brand          0 non-null       object
 61  creation_date          157913 non-null  datetime64[ns]
 62  created_by             157913 non-null  int64
 63  last_update_date       157913 non-null  datetime64[ns]
 64  last_updated_by        157913 non-null  int64
 65  ImportedAt             157913 non-null  datetime64[ns]
dtypes: datetime64[ns](10), float64(8), int64(9), object(39)
memory usage: 79.5+ MB
None

,po_header_id,po_line_id,org_id,po_number,po_date,comments,vendor_name,vendor_site_code,currency_code,rate_type,...,line_attribute13,line_attribute14,line_attribute15,product_type,product_brand,creation_date,created_by,last_update_date,last_updated_by,ImportedAt
0,4310,7312,81,112051592,2005-07-08 09:19:54,9996-BLM เครื่องใช้สำนักงาน,บริษัท ไทยพัฒน์ ซัพพลาย จำกัด,TCCL,THB,None,...,None,None,None,None,None,2005-07-08 09:19:54,1152,2023-05-28 15:41:34,1152,2023-06-03 17:02:08
1,4461,7538,81,112051646,2005-07-18 10:38:15,0201-B SALES แฟ้มปกขาวใช้ที่แผนก BS,บริษัท ไทยพัฒน์ ซัพพลาย จำกัด,TCCL,THB,None,...,None,None,None,None,None,2005-07-18 10:38:15,1152,2023-05-28 15:41:34,1151,2023-06-03 17:02:08
2,4957,8313,81,112051805,2005-08-08 09:29:33,9996-BLM เครื่องใช้สำนักงาน,บริษัท ไทยพัฒน์ ซัพพลาย จำกัด,TCCL,THB,None,...,None,None,None,None,None,2005-08-08 09:29:33,1152,2023-05-28 15:41:34,1152,2023-06-03 17:02:08
3,4869,8173,81,112051770,2005-08-03 11:22:24,0399 ES Adm. HP TONER สำหรับใช้ในแผนก,บริษัท เมโทรซิสเต็มส์คอร์ปอเรชั่น จำกัด (มหาชน),YIP,THB,None,...,None,None,None,None,None,2005-08-03 11:22:24,1152,2023-05-28 15:41:34,1152,2023-06-03 17:02:08
4,4998,8374,81,112051832,2005-08-09 15:38:03,9996-BLM เครื่องใช้สำนักงาน,บริษัท ตากอรุณสิน จำกัด,YIP,THB,None,...,None,None,None,None,None,2005-08-09 15:38:03,1152,2023-05-28 15:41:34,1152,2023-06-03 17:02:08

In [607]:
if dfAll.empty:
    print("No row to import to BQ")
    exit()

# BigQuery

In [608]:
credentials = service_account.Credentials.from_service_account_file(json_credential_file)
client = bigquery.Client(credentials=credentials, project=projectId)

## Creaste bigquery schema from dataframe

In [609]:
# schema = [
# bigquery.SchemaField("CUSTOMER_TRX_ID", "INTEGER", mode="NULLABLE"),
# bigquery.SchemaField("GL_DATE", "DATE", mode="NULLABLE"),
# bigquery.SchemaField("DEPT_NAME", "STRING", mode="NULLABLE"),      
# bigquery.SchemaField("INVOICE_AMOUNT", "FLOAT", mode="NULLABLE"),    
# bigquery.SchemaField("LAST_UPDATE_DATE", "TIMESTAMP", mode="NULLABLE"),
# ]
#https://cloud.google.com/bigquery/docs/schemas
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html
schema = []
srCols=dfAll.dtypes
try:
    for name, type_name in srCols.items():
        # print(name,type_name)
        if str(type_name) in ['int32','int64']:
          schema.append(bigquery.SchemaField(name, "INTEGER", mode="NULLABLE"))
        elif str(type_name) =='float64':
          schema.append(bigquery.SchemaField(name, "FLOAT", mode="NULLABLE"))
        elif str(type_name) =='datetime64[ns]':
          if name in   dateCols:
             schema.append(bigquery.SchemaField(name,  "DATE", mode="NULLABLE"))
          else:
             schema.append(bigquery.SchemaField(name,  "DATETIME", mode="NULLABLE"))
        elif str(type_name) == 'bool':
             schema.append(bigquery.SchemaField(name,  "BOOL", mode="NULLABLE"))
        else: # if not found type , it will be converted to STRING
           schema.append(bigquery.SchemaField(name,  "STRING", mode="NULLABLE")) 
        
    # if  len(schema)!=len(listColDF):
    #    listFieldBQError=[field.name for field in schema]
    #    intersec_DF_BQ = [set(listColDF).symmetric_difference(set(listFieldBQError))]
    #    raise Exception(f"{len(schema)}!={len(listColDF)} , {intersec_DF_BQ} in Dataframe can not be converted to Bigquery Data type")

except Exception as e:
   listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
   logErrorMessage(listError)
print("Total number of field of the schema :",len(schema))    
print(schema)

Total number of field of the schema : 66
[SchemaField('po_header_id', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('po_line_id', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('org_id', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('po_number', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('po_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('comments', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('vendor_name', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('vendor_site_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('currency_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('rate_type', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('rate_type_name', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('rate_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('rate', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('buyer', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('authorization_status', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('revision_number', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('revised_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('approved_flag', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('approved_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('closed_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('cancel_flag', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('closed_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('inv_organization_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('inv_organization_name', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('po_amount', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('payment_amount', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('line_number', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('shipment_number', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('item_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('item_description', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('item_job', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('uom', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('shipment_amount', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('quantity', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('quantity_due', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('quantity_received', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('quantity_billed', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('need_by_date', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_closed_flag', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_closed_code', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_closed_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('line_cancel_flag', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_cancelled_by', 'FLOAT', 'NULLABLE', None, None, (), None), SchemaField('line_cancel_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('line_attribute1', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute2', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute3', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute4', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute5', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute6', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute7', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute8', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute9', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute10', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute11', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute12', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute13', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute14', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('line_attribute15', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('product_type', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('product_brand', 'STRING', 'NULLABLE', None, None, (), None), SchemaField('creation_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('created_by', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('last_update_date', 'DATETIME', 'NULLABLE', None, None, (), None), SchemaField('last_updated_by', 'INTEGER', 'NULLABLE', None, None, (), None), SchemaField('ImportedAt', 'DATETIME', 'NULLABLE', None, None, (), None)]

## Check whether dataframe and bigquery schema are the same

## Check Existing DataSet and Table

In [610]:
# dataset
try:
    dataset = client.get_dataset(f"{projectId}.{dataset_id}")
    print("Dataset {} already exists".format(dataset_id))
except Exception as ex:
    msg=f"Dataset {dataset_id} is not found"
    listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,msg]) 
    logErrorMessage(listError)

Dataset MIS_BI_DW already exists

In [611]:
def create_table():
    try:  
        table = bigquery.Table(table_id,schema=schema)
        if  partitionCol!="":
         table.time_partitioning = bigquery.TimePartitioning(
         type_=partitionType,field=partitionCol)

        if len(clusterCols)>0:
         table.clustering_fields = clusterCols

        table = client.create_table(table) 
        print(
            "Created new table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
        )
    except Exception as e:
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)]) 
        logErrorMessage(listError)

In [612]:
# def check_same_schema(listFieldBQ,partitionNameBQ,partitionTypeBQ,clusterBQ,dateTypeBQ):
def check_same_schema():
    print("===============================================================================================")
    print("Check every columns name and partition cluster and date type column on table against dataframe")
    def find_difference(dfX,bqX):
        intersec_DF_BQ = [set(dfX).symmetric_difference(set(bqX))]
        list_DF_BQ=[]
        if len(intersec_DF_BQ)>0:
         for item in intersec_DF_BQ:
            list_DF_BQ=list_DF_BQ+list(item)
        return list_DF_BQ 
        
    listColumnX=find_difference(listColDF,listFieldBQ)
    if len(listColumnX)>0:
        e=f"Columns: {listColumnX} are NOT THE SAME on BigQuery and ViewTable {source_name} of Oracle"
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    else:
        print("All Fields on BQ and DF are ok.")
        
        
    # PartitionName
    if partitionNameBQ!=partitionCol:
        e=f"Partition Column :{partitionNameBQ} in BQ is NOT THE SAME as {partitionCol} defined on ETL Config on Web Admin"
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    else:
        print("Partition Name Fields on BQ and DF is ok.")    
        

    # # PartitionDateType
    if partitionTypeBQ!=partitionType:
        e=f"Partition Date Type :{partitionTypeBQ} in BQ is NOT THE SAME as {partitionType} defined on ETL Config on Web Admin"
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    
    # Cluster List
    listClusterX=find_difference(clusterCols,clusterBQ)
    if len( listClusterX)>0:
        e=f"Cluster columns : {listClusterX} are NOT THE SAME on BigQuery and ETL Config on Web Admin"
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    else:
        print("All Cluster on BQ and DF are ok.")
    
    # Date Type List
    
        # Cluster List
    listDateColX=find_difference(dateCols,dateTypeBQ)
    if len( listDateColX)>0:
        e=f"Date columns : {listDateColX} are NOT THE SAME on BigQuery and ETL Config on Web Admin"
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    else:
        print("All Date Column on BQ and DF are ok.")


    if len(listError)>0:
        logErrorMessage(listError)
        # delete table
        # set isLoading=True to load all data
        
#       isLoadingAllItems=True
#       start_date_query=init_date_query

#       print("ReLoad Data due to something in schema changed")  
#       dfAll=loadData(isLoadingAllItems)
#       print(dfAll.info())  

#       print("Delete table and re-create new one.")
#       client.delete_table(table_id, not_found_ok=True)  
#       create_table()

In [613]:

# try to create table    
try:
    table=client.get_table(table_id)
    print("Table {} already exists.".format(table_id))
    # if no table it will call create_table
    
    listFieldBQ=[field.name for field in table.schema]
    
    # required field
    partitionNameBQ=table.time_partitioning.field
    partitionTypeBQ=table.partitioning_type

    clusterBQ=table.clustering_fields
    if clusterBQ is None : clusterBQ =[]
        
    dateTypeBQ=[field.name for field in table.schema if field.field_type=='DATE']
    
    
    print(f"All Fields : {listFieldBQ}")
    print(f"Partiton Field&Type: {partitionNameBQ} - {partitionTypeBQ}")
    print(f"Cluster Field List: {clusterBQ}")
    print(f"Date Field List: {dateTypeBQ}")
    
    #check_same_schema(listFieldBQ,partitionNameBQ,partitionTypeBQ,clusterBQ,dateTypeBQ)
    check_same_schema()
        
except Exception as ex:
    #print("Don't create table")
    create_table()

Created new table mismgntdata-bigquery.MIS_BI_DW.yip_po_listing

# To load data into BQ , technically you need  to save it as CSV file first

In [614]:
# dfAll=dfAll.iloc[:45501,:]  poListing
# #dfAll=dfAll.drop(45502) # error

In [615]:
loading_from='csv' # cvs/dataframe
no_rows=len(dfAll)
no_cols=len(dfAll.columns)
if dfAll.empty==False and loading_from=='csv':
    print("Save dataframe to csv as source first")
    dfAll.to_csv (temp_path,index=False)
print(f"{no_rows} rows and {no_cols} are about to be imported to BQ by {loading_from}")

Save dataframe to csv as source first
157913 rows and 66 are about to be imported to BQ by csv

# Load data from CSV file to BQ

In [589]:
def collectBQError(x_job):
 if x_job.errors is not None:
    for error in x_job.errors:
      msg=f"{error['reason']} - {error['message']}"
      listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,msg])
      logErrorMessage(listError,False)

In [616]:
# cannot auto detect because some column , there are Y,N,R  For R BQ is known as Bool
#https://cloud.google.com/bigquery/docs/loading-data-cloud-storage-csv



try:
    print(f"Load bulk data from {loading_from}")
    if loading_from=='csv' :
        
        job_config = bigquery.LoadJobConfig(
            source_format=bigquery.SourceFormat.CSV, skip_leading_rows=1,
            schema=schema,autodetect=False,
            max_bad_records=(no_rows-1),
            # autodetect=True,
            write_disposition="WRITE_APPEND",
            )
        with open(temp_path, "rb") as source_file:
            job = client.load_table_from_file(source_file, table_id, job_config=job_config)
    else :
        # job_config = bigquery.LoadJobConfig(write_disposition="WRITE_TRUNCATE")  # ok for POs Listing
        
        job_config = bigquery.LoadJobConfig(write_disposition="WRITE_APPEND",schema=schema)
        job = client.load_table_from_dataframe(dfAll, table_id, job_config=job_config)  


    job.result()  # Waits for the job to complete.
    
    # error but continue
    collectBQError(job)   
   


except Exception as e:
  print("BQ Error and Raise Exception")  
  collectBQError(job)

Load bulk data from csv
yip_po_listing ETL at 2023-06-03 17:02:08 raise some errors.
        error_datetime         etl_datetime  data_source_id
0  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing  \

                                             message
0  invalid - Error while reading data, error mess...
Done Log Error
yip_po_listing ETL at 2023-06-03 17:02:08 raise some errors.
        error_datetime         etl_datetime  data_source_id
0  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing  \
1  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing

                                             message
0  invalid - Error while reading data, error mess...
1  invalid - Error while reading data, error mess...
Done Log Error
yip_po_listing ETL at 2023-06-03 17:02:08 raise some errors.
        error_datetime         etl_datetime  data_source_id
0  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing  \
1  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
2  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing

                                             message
0  invalid - Error while reading data, error mess...
1  invalid - Error while reading data, error mess...
2  invalid - Error while reading data, error mess...
Done Log Error
yip_po_listing ETL at 2023-06-03 17:02:08 raise some errors.
        error_datetime         etl_datetime  data_source_id
0  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing  \
1  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
2  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
3  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing

                                             message
0  invalid - Error while reading data, error mess...
1  invalid - Error while reading data, error mess...
2  invalid - Error while reading data, error mess...
3  invalid - Error while reading data, error mess...
Done Log Error
yip_po_listing ETL at 2023-06-03 17:02:08 raise some errors.
        error_datetime         etl_datetime  data_source_id
0  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing  \
1  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
2  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
3  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing
4  2023-06-03 17:03:42  2023-06-03 17:02:08  yip_po_listing

                                             message
0  invalid - Error while reading data, error mess...
1  invalid - Error while reading data, error mess...
2  invalid - Error while reading data, error mess...
3  invalid - Error while reading data, error mess...
4  invalid - Error while reading data, error mess...
Done Log Error

# Create Transation and delete csv file

In [617]:

#Addtional Try Error    
def insertETLTrans(recordList):
    try:
        sqliteConnection = sqlite3.connect(os.path.abspath(data_base_file))
        cursor = sqliteConnection.cursor()
        sqlite_insert_query = """
        INSERT INTO etl_transaction
        (etl_datetime, data_source_id,no_rows,is_load_all)  VALUES (?,?,?,?);
         """

        cursor.executemany(sqlite_insert_query, recordList)
        print("Done ETL Trasaction")
        sqliteConnection.commit()
        cursor.close()

    except Exception as e:
        listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
        logErrorMessage(listError)
        print("Failed to insert etl_transaction table", str(e))
    finally:
        if sqliteConnection:
            sqliteConnection.close()
            


if isLoadingAllItems==True:
    is_load_all=1
else:
    is_load_all=0

dfETFTran=pd.DataFrame.from_records([{'etl_datetime':dtStr_imported,'data_source_id':source_name,'no_rows':no_rows,'is_load_all':is_load_all}])
recordsToInsert=list(dfETFTran.to_records(index=False))
insertETLTrans(recordsToInsert)

Done ETL Trasaction

In [618]:
#Addtional Try Error
try:
    if os.path.exists(temp_path):
      os.remove(temp_path)
      print(f"Deleted {temp_path}")
    
except Exception as e:
    listError.append([datetime.now().strftime("%Y-%m-%d %H:%M:%S"),dtStr_imported,source_name,str(e)])
    logErrorMessage(listError)

Deleted temp/yip_po_listing.csv