In [ ]:
# https://cx-oracle.readthedocs.io/en/latest/
# https://datatofish.com/how-to-connect-python-to-an-oracle-database-using-cx_oracle/

#https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html#wininstall
# https://datatofish.com/how-to-connect-python-to-an-oracle-database-using-cx_oracle/

# https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html#wininstall
# https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html#installing-cx-oracle-on-windows
# https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html#quick-start-cx-oracle-installation  (code sample)

# https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html

In [ ]:
import cx_Oracle

_ip='x.x.x.x'
_hostname='x'
_port=1234
_servicename='x'
_username='x'
_password='x'

# connection = cx_Oracle.connect(user=_username, password=_password,
#                                dsn=f"{_ip}/{_servicename}")

# cursor = connection.cursor()
# cursor.execute(""" select * from yip_invoice_monthly where to_char(invoice_date,'YYYYMM') = '202304' """)
# for row in cursor:
#     print(row)

In [ ]:
# https://blogs.oracle.com/connect/post/run-sql-data-queries-pandas
# https://hemantoracledba.blogspot.com/2021/04/python-with-oracle-using-sqlalchemy-and.html
# https://docs.sqlalchemy.org/en/20/core/engines.html#oracle
import pandas as pd
import cx_Oracle
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError

try:

   engine = sqlalchemy.create_engine(f"oracle+cx_oracle://{_username}:{_password}@{_ip}:{_port}/?service_name={_servicename}")
   sql = """ select * from yip_invoice_monthly where to_char(invoice_date,'YYYYMM') = '202304' """; 
   df = pd.read_sql(sql, engine)
except SQLAlchemyError as e:
   print(e)

In [ ]:
df